In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, Normalizer, StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [12]:
data = pd.read_csv("marketing_customer_analysis.csv")

In [13]:
data

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [14]:
# Processing Data

In [15]:
# X-y split.

In [16]:
data1 = data.copy()

In [17]:
encoder = OneHotEncoder(drop='first')

In [19]:
encoder.fit(data1[["Gender", "EmploymentStatus"]])

OneHotEncoder(drop='first')

In [20]:
encoder.transform(data1[["Gender", "EmploymentStatus"]]).todense()

matrix([[0., 1., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 1., 0., 0., 0.],
        ...,
        [1., 0., 0., 0., 1.],
        [1., 1., 0., 0., 0.],
        [1., 0., 0., 0., 1.]])

In [21]:
encoder.categories_[1][1:]

array(['Employed', 'Medical Leave', 'Retired', 'Unemployed'], dtype=object)

In [22]:
data1[list(encoder.categories_[0])[1:] + list(encoder.categories_[1])[1:]] = encoder.transform(data1[["Gender", "EmploymentStatus"]]).todense()
data1

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,M,Employed,Medical Leave,Retired,Unemployed
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,Offer1,Agent,384.811147,Two-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,Offer3,Agent,1131.464935,Four-Door Car,Medsize,0.0,0.0,0.0,0.0,1.0
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,Offer1,Agent,566.472247,Two-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,Offer1,Call Center,529.881344,SUV,Medsize,1.0,0.0,0.0,0.0,1.0
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,Offer1,Agent,138.130879,Four-Door Car,Medsize,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,Offer2,Web,198.234764,Four-Door Car,Medsize,1.0,1.0,0.0,0.0,0.0
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,Offer1,Branch,379.200000,Four-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,Offer1,Branch,790.784983,Four-Door Car,Medsize,1.0,0.0,0.0,0.0,1.0
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,Offer3,Branch,691.200000,Four-Door Car,Large,1.0,1.0,0.0,0.0,0.0
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,Offer4,Call Center,369.600000,Two-Door Car,Medsize,1.0,0.0,0.0,0.0,1.0

In [23]:
data1 = data1.drop(["Gender", "EmploymentStatus"], axis=1)
data1

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Income,Location Code,Marital Status,...,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,M,Employed,Medical Leave,Retired,Unemployed
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,56274,Suburban,Married,...,Offer1,Agent,384.811147,Two-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,0,Suburban,Single,...,Offer3,Agent,1131.464935,Four-Door Car,Medsize,0.0,0.0,0.0,0.0,1.0
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,48767,Suburban,Married,...,Offer1,Agent,566.472247,Two-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,0,Suburban,Married,...,Offer1,Call Center,529.881344,SUV,Medsize,1.0,0.0,0.0,0.0,1.0
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,43836,Rural,Single,...,Offer1,Agent,138.130879,Four-Door Car,Medsize,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,71941,Urban,Married,...,Offer2,Web,198.234764,Four-Door Car,Medsize,1.0,1.0,0.0,0.0,0.0
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,21604,Suburban,Divorced,...,Offer1,Branch,379.200000,Four-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,0,Suburban,Single,...,Offer1,Branch,790.784983,Four-Door Car,Medsize,1.0,0.0,0.0,0.0,1.0
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,21941,Suburban,Married,...,Offer3,Branch,691.200000,Four-Door Car,Large,1.0,1.0,0.0,0.0,0.0
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,0,Suburban,Single,...,Offer4,Call Center,369.600000,Two-Door Car,Medsize,1.0,0.0,0.0,0.0,1.0

In [24]:
data2 = data.copy()
data2 = pd.get_dummies(data2, drop_first=True)
data2

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount,Customer_AA11235,Customer_AA16582,...,Sales Channel_Branch,Sales Channel_Call Center,Sales Channel_Web,Vehicle Class_Luxury Car,Vehicle Class_Luxury SUV,Vehicle Class_SUV,Vehicle Class_Sports Car,Vehicle Class_Two-Door Car,Vehicle Size_Medsize,Vehicle Size_Small
0,2763.519279,56274,69,32,5,0,1,384.811147,0,0,...,0,0,0,0,0,0,0,1,1,0
1,6979.535903,0,94,13,42,0,8,1131.464935,0,0,...,0,0,0,0,0,0,0,0,1,0
2,12887.431650,48767,108,18,38,0,2,566.472247,0,0,...,0,0,0,0,0,0,0,1,1,0
3,7645.861827,0,106,18,65,0,7,529.881344,0,0,...,0,1,0,0,0,1,0,0,1,0
4,2813.692575,43836,73,12,44,0,1,138.130879,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,0,2,198.234764,0,0,...,0,0,1,0,0,0,0,0,1,0
9130,3096.511217,21604,79,14,28,0,1,379.200000,0,0,...,1,0,0,0,0,0,0,0,1,0
9131,8163.890428,0,85,9,37,3,2,790.784983,0,0,...,1,0,0,0,0,0,0,0,1,0
9132,7524.442436,21941,96,34,3,0,3,691.200000,0,0,...,1,0,0,0,0,0,0,0,0,0
9133,2611.836866,0,77,3,90,0,1,369.600000,0,0,...,0,1,0,0,0,0,0,1,1,0

In [25]:
data3 = data.copy()

data3["EmploymentStatus"].value_counts()

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

In [50]:
data3 ['Customer'] = data3['Customer'].astype(float)

ValueError: could not convert string to float: 'BU79786'

In [ ]:
# Splitting the Data

In [26]:
data1

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,Income,Location Code,Marital Status,...,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,M,Employed,Medical Leave,Retired,Unemployed
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,56274,Suburban,Married,...,Offer1,Agent,384.811147,Two-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,0,Suburban,Single,...,Offer3,Agent,1131.464935,Four-Door Car,Medsize,0.0,0.0,0.0,0.0,1.0
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,48767,Suburban,Married,...,Offer1,Agent,566.472247,Two-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,0,Suburban,Married,...,Offer1,Call Center,529.881344,SUV,Medsize,1.0,0.0,0.0,0.0,1.0
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,43836,Rural,Single,...,Offer1,Agent,138.130879,Four-Door Car,Medsize,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,71941,Urban,Married,...,Offer2,Web,198.234764,Four-Door Car,Medsize,1.0,1.0,0.0,0.0,0.0
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,21604,Suburban,Divorced,...,Offer1,Branch,379.200000,Four-Door Car,Medsize,0.0,1.0,0.0,0.0,0.0
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,0,Suburban,Single,...,Offer1,Branch,790.784983,Four-Door Car,Medsize,1.0,0.0,0.0,0.0,1.0
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,21941,Suburban,Married,...,Offer3,Branch,691.200000,Four-Door Car,Large,1.0,1.0,0.0,0.0,0.0
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,0,Suburban,Single,...,Offer4,Call Center,369.600000,Two-Door Car,Medsize,1.0,0.0,0.0,0.0,1.0

In [30]:
X = data1.drop(["Customer", "Employed"], axis=1) 
y = data1["Employed"]

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [44]:
X_train

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [45]:
X_train_1 = df.copy()

In [46]:
X_train_1

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [ ]:
# Normalize (numerical).

In [52]:
# Start the scaler object:
scaler = StandardScaler()

# Fit the scaler object only on the training data:
scaler.fit(X_train_1)

ValueError: could not convert string to float: 'BU79786'

In [ ]:
# We got an error saying us that we need to convert a string to a float. 
# That is what we are going to do.
# How to convert string to float: https://colab.research.google.com/drive/1_fQuyyAYLZstnNIuCcSoBB5_oA6Cjl03#scrollTo=FbbsfgtL51E6

In [53]:
# Look a the type of the colums
X_train_1.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [ ]:
# After that please go and look in what colum the error was. In your case it was in "Customer"

In [ ]:
# You will try to use the normal formular donw below but it will give you an error

In [49]:
X_train_1['Customer'] = X_train_1['Customer'].astype(float)

ValueError: could not convert string to float: 'BU79786'

In [ ]:
# So the error is ValueError: could not convert string to float: 'BU79786' That means that you will have to remove all the later from them 
# for example BU

In [54]:
# Let's make a function we can apply for both:

# 1. Create an example to test your logic:
x = "BU79786"

# 2. Create the logic:

# 2.1. make an empty string:
only_digits = ""

# 2.2. since we'll be using string operations, make sure the value is a string:
x = str(x)

# 2.3. loop through the characters of the string:
for letter in x:
  # 2.4. check if the character is a digit:
  if letter.isdigit() or letter == ".":
    # 2.5. if the character is a digit, add it to the variable:
    only_digits += letter

# 3. Check if we get the expected result
float(only_digits)

79786.0

In [62]:
# 4. Put the logic in a function:

def clean_numerical(x):
  only_digits = ""
  x = str(x)

  for letter in x:
    if letter.isdigit() or letter == ".":
      only_digits += letter

  return float(only_digits) if only_digits else np.nan


# 5. Apply the function to the desired columns:

X_train_2 = df.copy() # since we are going to be altering our dataframe, it is a good idea to do it in a deep copy

X_train_2["Customer"] = X_train_2["Customer"].apply(clean_numerical)
X_train_2

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,79786.0,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,44356.0,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,49188.0,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,63253.0,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,64268.0,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,72316.0,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,87824.0,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,14365.0,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,19263.0,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,167826.0,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [63]:
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(X_train_2)

ValueError: could not convert string to float: 'Washington'

In [58]:
X_train_2['State'] = X_train_2['State'].astype(float)

ValueError: could not convert string to float: 'Washington'

In [59]:
# Let's make a function we can apply for both:

# 1. Create an example to test your logic:
x = "Washington"

# 2. Create the logic:

# 2.1. make an empty string:
only_digits = ""

# 2.2. since we'll be using string operations, make sure the value is a string:
x = str(x)

# 2.3. loop through the characters of the string:
for letter in x:
  # 2.4. check if the character is a digit:
  if letter.isdigit() or letter == ".":
    # 2.5. if the character is a digit, add it to the variable:
    only_digits += letter

# 3. Check if we get the expected result
float(only_digits)

ValueError: could not convert string to float: ''

In [64]:
# 4. Put the logic in a function:

def clean_numerical(x):
  only_digits = ""
  x = str(x)

  for letter in x:
    if letter.isdigit() or letter == ".":
      only_digits += letter

  return float(only_digits) if only_digits else np.nan


# 5. Apply the function to the desired columns:

X_train_3 = df.copy() # since we are going to be altering our dataframe, it is a good idea to do it in a deep copy

X_train_3["State"] = X_train_3["State"].apply(clean_numerical)
X_train_3

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,NaN,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,NaN,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,NaN,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,NaN,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,NaN,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,NaN,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,NaN,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,NaN,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,NaN,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,NaN,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [65]:
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(X_train_3)

ValueError: could not convert string to float: 'BU79786'

In [66]:
X_train_4 = df.copy()

In [67]:
X_train_4

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize